.cat{
  width: 150px;
  height: auto;
  display: block;
  position: absolute;
  left: 0px;
}

.button, .reset {
  width: 100px;
  height: 50px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  color: black;
  background-color: rgb(16, 165, 54);
  border-radius: 10px;
  outline: none;
  border: none;
}

.reset {
  top: 50%;
  background-color: rgb(163, 13, 63);
}